body {
    margin: 0;
    font-family: Arial, sans-serif;
    
    color: #ffffff;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
   width: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("Cosmo Air.png");
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel h1 {
    font-size: 4em;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px #a64d79;
}

.left-panel p {
    font-size: 1.2em;
}

.right-panel {
    background-color: #d88ca5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-panel h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff66b2;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #ff3399;
}

p {
    margin-top: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}


